# Variables de entorno para producción
SECRET_KEY=tu-clave-secreta-muy-segura-aqui
FLASK_ENV=production
FLASK_DEBUG=False

# Configuración de base de datos (AlwaysData usará PostgreSQL)
DATABASE_URL=postgres://koyeb-adm:npg_GSYqNavA69Rh@ep-weathered-hat-a42ecxew.us-east-1.pg.koyeb.app/koyebdb

# Configuración de Twilio (si usas SMS)
TWILIO_ACCOUNT_SID=tu_account_sid
TWILIO_AUTH_TOKEN=tu_auth_token
TWILIO_PHONE_NUMBER=tu_numero_twilio

# Configuración de WhatsApp
WHATSAPP_TOKEN=tu_whatsapp_token
WHATSAPP_PHONE_ID=tu_whatsapp_phone_id
WHATSAPP_RECIPIENT=tu_numero_whatsapp

# Configuración de Cloudinary
CLOUDINARY_CLOUD_NAME=dp1dzunfp
CLOUDINARY_API_KEY=258478459326466
CLOUDINARY_API_SECRET=lnHcXW--2xkJDd27CsYpXxlxaDk